<div class="hero-unit">
  <h1>Election Got You Down?</h1>
  <p>Turns out America isn't the only country!</p>
  <p><%= link_to 'Find yourself a Better Home', reports_path, class: 'btn btn-primary btn-large' %></p>
</div>