<div class="hero-unit">
  <h1>Election Got You Down?</h1>
  <p>Turns out the United States isn't the only country!</p>
  <p><%= link_to 'Find yourself a Better Home', reports_path, class: 'btn btn-primary btn-large' %></p>
</div>

<p>NationRank is a totally open-source, totally crowd-sourced collection of national indices and ratings. It's a tool to help you get a clearer picture of how your current or prospective homeland stands among all nations.</p>