<div class="page-header">
  <h1>Sign In</h1>
</div>

<%= form_tag user_session_path, class: 'form' do %>
  <%= text_field_tag :username, nil, placeholder: 'Username' %>
  <%= password_field_tag :password, nil, placeholder: 'Password' %>

  <div class="form-actions">
    <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
  </div>
<% end %>
