<div class="page-header">
  <h1>Reports</h1>
</div>

<p>Explore reports below, or help us out by <%= link_to 'submitting an existing report', new_report_submission_path %>.</p>

<ul>
  <% @reports.each do |report| %>
    <li><%= link_to report.name, report_path(report) %>
      <% if report.organization %>
        by <%= link_to report.organization.slug_name, organization_path(report.organization) %>
      <% end %>
  <% end %>
</ul>
