<%= render 'reports/header', report: @report %>

<p> Are we missing some data? Help us out by <%= link_to 'Submitting a Publication of this report.', new_report_publication_path(@report) %></p>

<h2><%= pluralize(@report.publications.size, 'publication') %></h2>
<ul>
  <% @report.publications.each do |publication| %>
    <li><%= link_to publication.name, report_publication_path(@report, publication) %></li>
  <% end %>
</ul>
